.heading {
    text-align: center;
    color: lightseagreen;
    font-size: 50px;
}

.container {
    margin: 0px 100px;
}

.w-message {
    font-size: 30px;
    color: seagreen;
}

.b-attend {
    transition-duration: 1s;
    background-color: mediumaquamarine;
    color: mintcream;
    font-size: 30px;
}